*{
  box-sizing: border-box;
}

body{
	background-color: #FFB2EB;
	font-size: 16px;
}

#header-nav{
	background-color: #C7265D;
	border-radius: 0;
	border: 0;
}

.navbar-brand h1{
	color: white;
	font-size: 1.5em;
	font-weight: bolder;
	margin-top: 0;
	margin-bottom: 0;
}
.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border: 2px solid #FFB2EB;
}

#nav-list{
	margin-top: 10px;
}
#nav-list a{
	color: white;
	text-align: center;
	font-size: 1.2em;
}
#nav-list a:hover {
	background-color: #FFB2EB;
}

h2{
	font-family: 'Oxygen', Arial;
	font-weight: bolder;
	font-size: 2em;
	color: #C7265D;
}

.chicken, .beef, .sushi{
	margin: 10px 10px 0px 10px;
	height: 700px;
	border: 1px solid #C7265D;
	border-radius: 1%;
}
.chicken{
	background-color: #F2FBA2;
	color: #B77300;
}
.beef{
	background-color: #DFBDF8;
	color: #671DCB;
}
.sushi{
	background-color: #C5FDEC;
	color: #107A54;
}

.chicken h3, .beef h3, .sushi h3{
	font-family: 'Oxygen', Arial;
	font-weight: bold;
	font-size: 1.5em;
	padding-top: 10px;
	padding-bottom: 10px;
}
.chicken p, .beef p, .sushi p{
	color: black;
	line-height: 2em;
	padding-left: 20px;
	padding-right: 20px;
}